-r requirements_dev.txt
# move twine and cryptography to a separate file to avoid issues on windows installations
# pin cryptography version to allow installation on PyPy 3.7 (v7.3.9)
cryptography==40.0.2
# cryptography is a dependency of twine
twine==4.0.2
